# Predicting a players likelihood of being drafted based on Juniors Statistics

Using Decision trees and random forest classifiers we are attempting to predict whether or not a given player will be drafted to by an NHL teams.
### Pre-analysis Prediction
I expect the results to be less accurate at predicting a drafted players likeliehood of making it to the NHL. Due to the fact the some players will play long careers in the Juniors only to never get drafted while others might only play half a season and get drafted and moved into professional leagues faster.

In [1]:
# Dependencies
from sklearn import tree
import pandas as pd
import os 
from sklearn.model_selection import train_test_split

In [39]:
# Load in data
df = pd.read_csv('data_sets/juniors_data.csv')
df.head()

,LEAGUE,PLAYER_ID,POSITION,SEASON,AGE_SEPT_15,GP,G,A,TP,PPG,...,SEASON_>20GP,CUM_GP,ONLY_1_SEASON,MIN_3_SEASONS,DY_STATUS,SHOOTS,DRAFTED,NHL_PPG,NHL_GP,NHL_DV
0,WHL,100056/tye-hand,D,2013,18.252778,31,0,2,2,0.060000,...,1,31,1,0,DY,L,No,0.0,0,0
1,OHL,100141/sean-thompson,F,2004,20.625000,38,6,5,11,0.289474,...,3,137,0,1,DY+2,L,No,0.0,0,0
2,USHL,100151/stanislav-dzakhov,F,2013,20.497222,22,3,3,6,0.272727,...,2,66,0,0,DY+2,R,No,0.0,0,0
3,QMJHL,100165/owen-bennington,F,2015,20.444444,66,2,2,4,0.060000,...,2,125,0,0,DY+2,R,No,0.0,0,0
4,QMJHL,100224/tomas-pavelka,D,2013,20.294444,56,8,31,39,0.696429,...,2,123,0,0,DY+2,L,No,0.0,0,0

In [40]:
# Dropping columns that won't impact the prediction model(player ID, season) and those which will give it the answer(NHL games played and points)
df = df.drop(['PLAYER_ID', 'SEASON', 'NHL_PPG','NHL_GP','NHL_DV','LEAGUE'], axis=1)
df.head()

,POSITION,AGE_SEPT_15,GP,G,A,TP,PPG,SEASON_NO,SEASON_>20GP,CUM_GP,ONLY_1_SEASON,MIN_3_SEASONS,DY_STATUS,SHOOTS,DRAFTED
0,D,18.252778,31,0,2,2,0.060000,1,1,31,1,0,DY,L,No
1,F,20.625000,38,6,5,11,0.289474,3,3,137,0,1,DY+2,L,No
2,F,20.497222,22,3,3,6,0.272727,2,2,66,0,0,DY+2,R,No
3,F,20.444444,66,2,2,4,0.060000,2,2,125,0,0,DY+2,R,No
4,D,20.294444,56,8,31,39,0.696429,2,2,123,0,0,DY+2,L,No

In [41]:
# Convert Position to int (Forward = 0, Defense = 1, Goalie= 2)
df.POSITION[df.POSITION == 'F'] = 0
df.POSITION[df.POSITION == 'D'] = 1
df.POSITION[df.POSITION == 'G'] = 2

# Convert shooting side to int (left = 0, right = 1)
df.SHOOTS[df.SHOOTS == 'L'] = 0
df.SHOOTS[df.SHOOTS == 'R'] = 1
df.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,POSITION,AGE_SEPT_15,GP,G,A,TP,PPG,SEASON_NO,SEASON_>20GP,CUM_GP,ONLY_1_SEASON,MIN_3_SEASONS,DY_STATUS,SHOOTS,DRAFTED
0,1,18.252778,31,0,2,2,0.060000,1,1,31,1,0,DY,0,No
1,0,20.625000,38,6,5,11,0.289474,3,3,137,0,1,DY+2,0,No
2,0,20.497222,22,3,3,6,0.272727,2,2,66,0,0,DY+2,1,No
3,0,20.444444,66,2,2,4,0.060000,2,2,125,0,0,DY+2,1,No
4,1,20.294444,56,8,31,39,0.696429,2,2,123,0,0,DY+2,0,No

In [42]:
# Convert Draft year to int (draft year = 2, dy-2 = 0, etc)
df.DY_STATUS[df.DY_STATUS == 'DY-3'] = 0
df.DY_STATUS[df.DY_STATUS == 'DY-2'] = 1
df.DY_STATUS[df.DY_STATUS == 'DY-1'] = 2
df.DY_STATUS[df.DY_STATUS == 'DY'] = 3
df.DY_STATUS[df.DY_STATUS == 'DY+1'] = 4
df.DY_STATUS[df.DY_STATUS == 'DY+2'] = 5
df.DY_STATUS[df.DY_STATUS == 'DY+3'] = 6
df.head(10)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,POSITION,AGE_SEPT_15,GP,G,A,TP,PPG,SEASON_NO,SEASON_>20GP,CUM_GP,ONLY_1_SEASON,MIN_3_SEASONS,DY_STATUS,SHOOTS,DRAFTED
0,1,18.252778,31,0,2,2,0.060000,1,1,31,1,0,3,0,No
1,0,20.625000,38,6,5,11,0.289474,3,3,137,0,1,5,0,No
2,0,20.497222,22,3,3,6,0.272727,2,2,66,0,0,5,1,No
3,0,20.444444,66,2,2,4,0.060000,2,2,125,0,0,5,1,No
4,1,20.294444,56,8,31,39,0.696429,2,2,123,0,0,5,0,No
5,0,17.822222,21,0,1,1,0.050000,1,1,21,1,0,2,0,No
6,0,21.605556,71,21,28,49,0.690141,4,4,284,0,1,6,0,No
7,0,20.572222,8,1,0,1,0.130000,1,0,8,1,0,5,1,No
8,1,20.777778,59,8,12,20,0.338983,2,1,78,0,0,5,1,No
9,1,20.566667,51,3,9,12,0.235294,3,3,182,0,1,5,1,No

In [53]:
# Getting an error where a '-' can't be converted to int to fit the model. So I'm converting to NaN and dropping those rows
df.convert_objects(convert_numeric=True)
df.convert_objects(convert_numeric=True).dropna()

df.eq('-')
df = df[~df.eq('-').any(1)]
df

df.eq('D')
df = df[~df.eq('D').any(1)]
df

df.dropna()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

,POSITION,AGE_SEPT_15,GP,G,A,TP,PPG,SEASON_NO,SEASON_>20GP,CUM_GP,ONLY_1_SEASON,MIN_3_SEASONS,DY_STATUS,SHOOTS,DRAFTED
0,1,18.252778,31,0,2,2,0.060000,1,1,31,1,0,3,0,No
1,0,20.625000,38,6,5,11,0.289474,3,3,137,0,1,5,0,No
2,0,20.497222,22,3,3,6,0.272727,2,2,66,0,0,5,1,No
3,0,20.444444,66,2,2,4,0.060000,2,2,125,0,0,5,1,No
4,1,20.294444,56,8,31,39,0.696429,2,2,123,0,0,5,0,No
5,0,17.822222,21,0,1,1,0.050000,1,1,21,1,0,2,0,No
6,0,21.605556,71,21,28,49,0.690141,4,4,284,0,1,6,0,No
7,0,20.572222,8,1,0,1,0.130000,1,0,8,1,0,5,1,No
8,1,20.777778,59,8,12,20,0.338983,2,1,78,0,0,5,1,No
9,1,20.566667,51,3,9,12,0.235294,3,3,182,0,1,5,1,No
10,0,18.736111,67,8,13,21,0.313433,1,1,67,1,0,3,0,No
11,0,21.605556,60,29,21,50,0.833333,1,1,60,1,0,6,1,No
12,0,19.394444,68,12,28,40,0.588235,2,2,129,0,0,4,0,No
13,1,18.333333,24,0,1,1,0.041667,1,1,24,1,0,3,0,No
14,0,20.675000,55,20,16,36,0.654545,3,3,157,0,1,5,0,No
15,0,21.369444,49,20,31,51,1.040816,3,3,150,0,1,6,0,Yes
16,0,19.833333,7,1,3,4,0.570000,2,0,36,0,0,4,0,No
17,0,17.897222,4,1,1,2,0.500000,1,0,4,1,0,2,0,No
18,1,20.072222,54,1,6,7,0.130000,3,2,97,0,0,5,0,No
19,0,19.983333,43,8,6,14,0.325581,1,1,43,1,0,4,0,No
20,0,19.308333,6,0,1,1,0.170000,1,0,6,1,0,4,0,No
21,0,18.927778,24,2,2,4,0.170000,1,1,24,1,0,3,1,No
22,0,18.933333,9,2,0,2,0.220000,1,0,9,1,0,3,0,No
23,1,21.452778,63,4,4,8,0.130000,3,3,178,0,1,6,0,No
24,0,20.397222,70,10,33,43,0.614286,2,2,131,0,0,5,0,No
25,1,20.041667,70,2,9,11,0.157143,4,4,238,0,1,5,0,No
26,1,20.577778,57,7,36,43,0.754386,3,3,160,0,1,5,1,Yes
27,1,18.666667,1,2,0,2,2.000000,1,0,1,1,0,3,0,No
28,1,18.925000,3,0,1,1,0.330000,1,0,3,1,0,3,0,No
29,0,20.386111,34,2,2,4,0.120000,1,1,34,1,0,5,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13967,0,20.233333,30,4,11,15,0.500000,2,1,39,0,0,5,0,No
13968,1,21.475000,59,9,15,24,0.406780,4,4,264,0,1,6,1,No
13969,0,21.211111,57,14,25,39,0.684211,4,4,223,0,1,6,0,No
13970,0,19.600000,6,0,2,2,0.330000,1,0,6,1,0,4,1,No
13971,1,19.416667,61,1,4,5,0.081967,2,2,100,0,0,4,0,No
13972,0,20.555556,63,26,34,60,0.952381,2,2,112,0,0,5,1,No
13973,0,20.669444,18,3,3,6,0.330000,3,0,106,0,0,5,0,No
13974,0,19.616667,28,4,1,5,0.180000,3,3,136,0,1,4,0,No
13975,0,19.777778,48,29,33,62,1.291667,4,4,212,0,1,4,0,Yes
13976,0,21.158333,68,52,60,112,1.647059,4,4,246,0,1,6,0,Yes
13977,0,21.252778,54,11,23,34,0.629630,1,1,54,1,0,6,0,No
13978,0,21.002778,68,63,56,119,1.750000,4,4,261,0,1,6,0,Yes
13979,0,21.483333,65,34,26,60,0.923077,4,3,213,0,1,6,0,No
13980,0,20.375000,56,3,3,6,0.110000,2,2,110,0,0,5,1,No
13981,0,20.341667,57,10,12,22,0.385965,3,3,168,0,1,5,0,No
13982,0,21.594444,68,39,23,62,0.911765,6,6,345,0,1,6,1,No
13983,0,19.827778,47,11,6,17,0.361702,3,3,148,0,1,4,1,No
13984,0,21.002778,61,63,36,99,1.622951,3,3,186,0,1,6,0,Yes
13985,1,21.372222,68,11,40,51,0.750000,5,5,321,0,1,6,0,No
13986,1,20.822222,67,4,11,15,0.223881,4,4,249,0,1,5,0,No
13987,0,18.038889,44,32,43,75,1.704545,2,2,102,0,0,3,1,Yes
13988,0,20.727778,60,26,22,48,0.800000,4,4,187,0,1,5,1,No
13989,0,18.991667,26,1,0,1,0.040000,1,1,26,1,0,3,1,No
13990,0,19.241667,41,3,3,6,0.150000,1,1,41,1,0,4,0,No
13991,0,21.069444,60,21,13,34,0.566667,1,1,60,1,0,6,0,No
13992,1,20.344444,60,4,23,27,0.450000,2,2,97,0,0,5,0,No
13993,0,18.847222,51,28,31,59,1.156863,2,2,84,0,0,3,0,No
13994,0,20.655556,43,8,17,25,0.581395,3,3,152,0,1,5,1,No
13995,1,19.644444,37,1,2,3,0.080000,1,1,37,1,0,4,0,No
13996,0,19.216667,35,8,7,15,0.428571,3,2,104,0,0,4,0,No

In [54]:
# split data into inputs and outputs
data = df.values
inputs = data[:, 0:14]
outputs = data[:, 14]

In [55]:
# split data into inputs and outputs
outcomes = df['DRAFTED']
outcomes.head()

input_factors = df.drop(['DRAFTED'], axis = 1)
input_factors.head()
feature_names = input_factors.columns

In [56]:
# Create Train/test groups
input_train, input_test, output_train, output_test = train_test_split(input_factors, outcomes, random_state=42)

In [57]:
# Fit and test decision tree model
clf = tree.DecisionTreeClassifier()
clf = clf.fit(input_train, output_train)
clf.score(input_test, output_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').