In [1]:
 %matplotlib notebook

In [2]:
#Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [3]:
#File Path
juniors_df=pd.read_csv('na_juniors_99to19.csv')
juniors_df.head()

,LEAGUE,PLAYER_ID,POSITION,SEASON,AGE_SEPT_15,GP,G,A,TP,PPG,...,SEASON_>20GP,CUM_GP,ONLY_1_SEASON,MIN_3_SEASONS,DOB,DY_STATUS,SHOOTS,DRAFTED,NHL_PPG,NHL_GP
0,WHL,100056/tye-hand,D,2013,18.252778,31,0,2,2,0.060000,...,1,31,1,0,1995-06-14,DY,L,No,0.0,0
1,OHL,100141/sean-thompson,F,2002,18.625000,38,0,4,4,0.110000,...,1,38,0,1,1984-01-31,DY,L,No,0.0,0
2,OHL,100141/sean-thompson,F,2003,19.625000,61,6,5,11,0.180328,...,2,99,0,1,1984-01-31,DY+1,L,No,0.0,0
3,OHL,100141/sean-thompson,F,2004,20.625000,38,6,5,11,0.289474,...,3,137,0,1,1984-01-31,DY+2,L,No,0.0,0
4,USHL,100151/stanislav-dzakhov,F,2012,19.497222,44,9,5,14,0.318182,...,1,44,0,0,1993-03-16,DY+1,R,No,0.0,0

In [5]:
#remove duplicates
juniors_df['PLAYER_ID'].nunique()
juniors_df['PLAYER_ID'].count()

35251

In [5]:
#df for each league
ohl_players=juniors_df[juniors_df['LEAGUE']=='OHL']

whl_players=juniors_df[juniors_df['LEAGUE']=='WHL']

ushl_players=juniors_df[juniors_df['LEAGUE']=='USHL']

qmjhl_players=juniors_df[juniors_df['LEAGUE']=='QMJHL']



#Grouby NHL

In [9]:
avg_gp = juniors_df['CUM_GP'].mean()
#love avg for nhl game played is certainly due to so many players having played few or no games in the lague
avg_nhl_gp = juniors_df['NHL_GP'].mean()
print(avg_gp)
print(avg_nhl_gp)

110.13349975887209
24.366088905279284

In [11]:
#what pct get draft? what pct make it to the league?
#drop duplicates
ohl_unique =ohl_players.drop_duplicates(keep='last', subset='PLAYER_ID')
whl_unique= whl_players.drop_duplicates(keep='last', subset='PLAYER_ID')
ushl_unique =ushl_players.drop_duplicates(keep='last', subset='PLAYER_ID')
qmjhl_unique =qmjhl_players.drop_duplicates(keep='last', subset='PLAYER_ID')

In [ ]:
#Pct OHL players who make the league
labels=['Drafted', 'Undrafted']
plt.pie(DRAFTED, labels=labels, )

In [ ]:
#drafted only Df